<header id="main-header">
    <div id="logo"><a href="/">GameEShop</a></div>
    <nav>
       <%- include('nav-item') %>
    </nav>
    <button id="mobile-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>

<aside id="mobile-menu">
    <nav>
        <%- include('nav-item') %>
    </nav>
</aside>