<%- include('includes/head', {pageTitle:'An error Page occurred'}) %>

    

    </head>

    <body>
        <%- include('includes/header') %>
            <main>
                <h1>Not Authorized</h1>
                <p>You are not authorized for the session</p>
                <p><a class="btn" href="/">back to home</a></p>
             
            </main>
            <%- include('includes/footer') %>