<%- include('includes/head', {pageTitle:'An error Page occurred'}) %>

    

    </head>

    <body>
        <%- include('includes/header') %>
            <main>
                <h1>Could not find resource</h1>
                <p>Unfortunately, something went wrong - could not find the requested resource</p>
                <p><a class="btn" href="/">back to home</a></p>
             
            </main>
            <%- include('includes/footer') %>