<%- include('../../base/includes/head', {pageTitle:'Update Products'}) %>
    <script src="/scripts/image-preview.js" defer></script>
    </head>

    <body>
        <%- include('../../base/includes/header') %>
            <main>
                <h1>Update Products (ADMIN)</h1>

                <%- include('includes/product-form', {submitPath: '/admin/products/' + product.id, product:product, imageRequired:false}) %>

            </main>
            <%- include('../../base/includes/footer') %>